/* ========= ARTICLES ========= */
.articles {
    background-color: var(--very-light-gray);

    &-title {
        color: var(--dark-blue);
        font-size: var(--bigest-font-size);
        font-weight: var(--font-regular);
        text-align: center;
        padding-bottom: 2rem;
    }

    &-data-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &-data-card {
        background-color: var(--white);
        overflow: hidden;
        border-radius: 10px;
    }

    &-data-info {
        padding: 1.5rem 1.5rem;
    }

    &-data-author, &-data-description {
        color: var(--grayish-blue);
    }

    &-data-author {
        font-size: 12px;
    }

    &-data-title {
        color: var(--dark-blue);
        font-weight: var(--font-regular);
        margin-top: 1rem;
        margin-bottom: 1rem;

        &:hover {
            color: var(--lime-green);
            cursor: pointer;
        }
    }

    &-data-description {
        line-height: 1.5;
        font-size: 14px;
    }
}

/* ========= MEDIA QUERIES ========= */
/* For Medium Devices */
@media screen and (min-width: 576px) {
    .articles {
        &-data-container {
            align-items: center;
        }

        &-data-card {
            width: 80%;
            height: auto;
        }
    }
}

/* For Medium Devices */
@media screen and (min-width: 767px) {
    .articles {
        &-data-card {
            width: 70%;
            height: auto;
        }

        &-data-img {
            width: 100%;
            height: auto;
        }
    }
}

/* For Large Devices */
@media screen and (min-width: 968px) {
    .articles {
        &-data-card {
            width: 50%;
            height: auto;
        }
    }
}

@media screen and (min-width: 1024px) {
    .articles {
        &-title {
            text-align: left;
            font-size: 2rem;
        }

        &-data-container {
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
        }

        &-data-card {
            width: 35%;
            height: auto;
        }

        &-data-title {
            font-size: 18px;
        }
    }
}