/* ========= CHOOSE ========= */
.choose {
    background-color: var(--light-grayish-blue);

    &-data {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        padding-bottom: 4rem;
    }

    &-title {
        color: var(--dark-blue);
        font-size: var(--bigest-font-size);
        font-weight: var(--font-regular);
    }

    &-description {
        color: var(--grayish-blue);
        line-height: 1.5;
    }

    &-services-container {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    &-services-photo, &-services-title, &-services-description {
        padding-bottom: 1rem;
    }

    &-services-title {
        color: var(--dark-blue);
    }

    &-services-description {
        color: var(--grayish-blue);
        line-height: 1.5;
    }
}

/* ========= MEDIA QUERIES ========= */
/* For Medium Devices */
@media screen and (min-width: 576px) {
    .choose {
        &-title, &-description, &-services-description {
            max-width: 20rem;
            margin: auto;
        }
    }
}

/* For Large Devices */
@media screen and (min-width: 1024px) {
    .choose {
        &-data {
            transform: translateX(-19rem);
        }

        &-title {
            max-width: 33rem;
            font-size: 2rem;
        }

        &-description {
            text-align: left;
            max-width: 37rem;
            transform: translateX(120px);
        }

        &-services-container {
            flex-direction: row;
        }

        &-services-card {
            text-align: left;
        }
    }
}