/* ========= HERO ========= */
.hero {
    overflow: hidden;

    &-mockups {
        transform: translateY(-8rem);
        z-index: var(--z-tooltip);
    }

    &-image-mobile {
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1
    }

    &-image-desktop {
        display: none;
    }

    &-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        transform: translateY(-5rem);
    }

    &-title {
        color: var(--dark-blue);
        font-size: 2.6rem;
        text-align: center;
        font-weight: var(--font-regular);
    }

    &-description {
        color: var(--grayish-blue);
        text-align: center;
        line-height: 1.5;
        padding-bottom: 1rem;
    }
}

/* ========= MEDIA QUERIES ========= */
/* For Medium Devices */
@media screen and (min-width: 576px) {
    .hero {
        &-images {
            display: flex;
            justify-content: center;
        }

        &-mockups {
            width: 30rem;
        }

        &-image-mobile {
            width: 100%;
        }

        &-title {
            max-width: 20rem;
        }

        &-description {
            max-width: 25rem;
        }
    }
}

/* For Medium Devices */
@media screen and (min-width: 767px) {
    .hero {
        &-mockups {
            width: 41rem;
        }
    }
}

/* For Large Devices */
@media screen and (min-width: 968px) {
    .hero {
        &-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
        }

        // &-images {
        //     // overflow: hidden;
        // }

        &-mockups {
            width: 27rem;
            transform: translateY(-3rem);
            position: absolute;
            top: 1rem;
            right: 0rem;
        }

        &-image-mobile {
            display: none;
        }

        &-image-desktop {
            display: block;
            z-index: -1;
            transform: translate(226px, -50px);
        }

        &-title {
            max-width: 40rem;
        }

        &-data {
            align-items: flex-start;
            position: relative;
            top: 4rem;
            left: 4rem;
        }

        &-title, &-description {
            text-align: left;
        }
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        &-container {
            gap: 1rem;
            padding: 6rem 0 2rem;
            overflow: hidden;
        }

        &-mockups {
            width: 34rem;
            transform: translateY(-3rem);
            position: absolute;
            top: 3rem;
            right: 1rem;
        }

        &-image-desktop {
            position: fixed;
            top: 62px;
            width: 72%;
            right: 3rem;
        }

        &-data {
            position: relative;
            left: -17rem;
            top: 4rem;
        }

        &-title {
            max-width: 20rem;
        }
    }
}

@media screen and (min-width: 1440px) {
    .hero {
        &-mockups {
            right: 10rem;
            width: 38rem;
            top: 1.5rem;
        }

        &-image-desktop {
            right: -3rem;
            top: -10rem;
            width: 65%;
        }
    }
}