/* ========= HERO ========= */
.hero {
    background: url('../../assets/img/bg-intro-mobile.svg') top no-repeat;
    background-size: 100%;

    &-images {
        overflow: hidden;
    }

    &-mockups {
        transform: translateY(-8rem);
    }

    &-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        transform: translateY(-5rem);
    }

    &-title {
        color: var(--dark-blue);
        font-size: 2.6rem;
        text-align: center;
        font-weight: var(--font-regular);
    }

    &-description {
        color: var(--grayish-blue);
        text-align: center;
        line-height: 1.5;
        padding-bottom: 1rem;
    }
}

/* ========= MEDIA QUERIES ========= */
/* For Medium Devices */
@media screen and (min-width: 576px) {
    .hero {
        &-images {
            display: flex;
            justify-content: center;
        }

        &-mockups {
            width: 30rem;
        }

        &-title {
            max-width: 20rem;
        }

        &-description {
            max-width: 25rem;
        }
    }
}

/* For Medium Devices */
@media screen and (min-width: 767px) {
    .hero {
        &-mockups {
            width: 41rem;
        }
    }
}

/* For Large Devices */
@media screen and (min-width: 968px) {
    .hero {
        background: url('../../assets/img/bg-intro-desktop.svg') right no-repeat;
        background-size: 70%;

        &-container {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
        }

        &-mockups {
            width: 30rem;
            transform: translateY(-3rem);
        }

        &-data {
            align-items: flex-start;
        }

        &-title, &-description {
            text-align: left;
        }
    }
}

@media screen and (min-width: 1024px) {

}