/* ========= HEADER ========= */
.header {
    width: 100%;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .5s;
}

/* ========= NAVBAR ========= */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_menu {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &_mobile_menu {
        position: fixed;
        inset: 0;
        padding: 2rem 1rem;
        width: 100%;
        top: 49px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background: linear-gradient(180deg, rgba(0,0,0,0.7091211484593838) 0%, rgba(0,0,0,0.8295693277310925) 32%, rgba(255,255,255,0.07886904761904767) 100%);
    }

    &_mobile_container {
        position: relative;
        background-color: var(--white);
        padding: 2.5rem 1.5rem 1.5rem;
        border-radius: 0.5rem;
        // background: linear-gradient(180deg, rgba(0,0,0,0.7091211484593838) 0%, rgba(0,0,0,0.8295693277310925) 32%, rgba(255,255,255,0.07886904761904767) 100%);
        
    }

    &_mobile_item {
        text-align: center;
        padding-bottom: 1.5rem;
    }

    &_mobile_link {
        color: var(--dark-blue);
        font-size: 20px;
        font-weight: var(--font-semi-bold);
    }

    &_link {
        color: var(--grayish-blue);
        font-weight: var(--font-regular);

        &:hover {
            color: var(--dark-blue);
            cursor: pointer;
            border-bottom: 3px solid transparent;
            border-image: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
            border-image-slice: 1;
            width:100%;
            padding-bottom: 23px;
        }
    }

    &_toggle {
        font-size: 1.3rem;
        cursor: pointer;
    }

    &-hamburger {
        z-index: 10;
    }
}

.hidden {
    display: none;
}


/* ========= MEDIA QUERIES ========= */
/* For Medium Devices */
@media screen and (min-width: 767px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);

        &_list {
            display: flex;
            flex-direction: row;
            column-gap: 2.5rem;
        }

        &_toggle {
            display: none;
        }

        &-hamburger {
            display: none;
        }
    }
}

/* For Large Devices */
@media screen and (min-width: 968px) {
    .button_header {
        display: block;
    }
}
